@import './variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-secondary
    text-secondary-text
    bg-background
    dark:bg-neutral-5
    selection:text-on-secondary-container
    selection:bg-secondary-container;
  -webkit-tap-highlight-color: transparent;
}

@screen sm {
  ::-webkit-scrollbar {
    @apply w-4 h-4;
  }

  ::-webkit-scrollbar-thumb {
    @apply border-4
      border-solid
      border-transparent
      rounded-sm
      bg-clip-padding
      bg-scrollbar-thumb
      hover:bg-scrollbar-thumb-hover;
  }
}
