:root {
  --primary-0: #000000;
  --primary-5: #2d0000;
  --primary-10: #410000;
  --primary-15: #540000;
  --primary-20: #690100;
  --primary-25: #7e0100;
  --primary-30: #930100;
  --primary-35: #a90100;
  --primary-40: #c00100;
  --primary-45: #d80100;
  --primary-50: #ef0000;
  --primary-55: #ff291a;
  --primary-60: #ff5540;
  --primary-65: #ff725e;
  --primary-70: #ff8a78;
  --primary-75: #ffa091;
  --primary-80: #ffb4a8;
  --primary-85: #ffc7be;
  --primary-90: #ffdad4;
  --primary-95: #ffedea;
  --primary-98: #fff8f6;
  --primary-99: #fffbff;
  --primary-100: #ffffff;
  --secondary-0: #000000;
  --secondary-5: #200b08;
  --secondary-10: #2c1512;
  --secondary-15: #381f1b;
  --secondary-20: #442925;
  --secondary-25: #513430;
  --secondary-30: #5d3f3b;
  --secondary-35: #6a4b46;
  --secondary-40: #775651;
  --secondary-45: #84625d;
  --secondary-50: #926f69;
  --secondary-55: #a07b75;
  --secondary-60: #ae8882;
  --secondary-65: #bc958f;
  --secondary-70: #caa29c;
  --secondary-75: #d8afa9;
  --secondary-80: #e7bdb6;
  --secondary-85: #f6cbc4;
  --secondary-90: #ffdad4;
  --secondary-95: #ffedea;
  --secondary-98: #fff8f6;
  --secondary-99: #fffbff;
  --secondary-100: #ffffff;
  --tertiary-0: #000000;
  --tertiary-5: #181000;
  --tertiary-10: #251a00;
  --tertiary-15: #322400;
  --tertiary-20: #3e2e04;
  --tertiary-25: #4a390e;
  --tertiary-30: #564419;
  --tertiary-35: #635023;
  --tertiary-40: #705c2e;
  --tertiary-45: #7d6839;
  --tertiary-50: #8a7444;
  --tertiary-55: #978150;
  --tertiary-60: #a58e5b;
  --tertiary-65: #b39b67;
  --tertiary-70: #c1a873;
  --tertiary-75: #cfb680;
  --tertiary-80: #dec48c;
  --tertiary-85: #ecd199;
  --tertiary-90: #fbdfa6;
  --tertiary-95: #ffefd2;
  --tertiary-98: #fff8f2;
  --tertiary-99: #fffbff;
  --tertiary-100: #ffffff;
  --neutral-0: #000000;
  --neutral-5: #15100f;
  --neutral-10: #201a19;
  --neutral-15: #2b2423;
  --neutral-20: #362f2e;
  --neutral-25: #413a38;
  --neutral-30: #4d4544;
  --neutral-35: #59504f;
  --neutral-40: #655c5b;
  --neutral-45: #726867;
  --neutral-50: #7f7573;
  --neutral-55: #8c8180;
  --neutral-60: #998e8d;
  --neutral-65: #a79b9a;
  --neutral-70: #b4a9a7;
  --neutral-75: #c2b6b4;
  --neutral-80: #d0c4c2;
  --neutral-85: #ded2d0;
  --neutral-90: #ede0dd;
  --neutral-95: #fbeeec;
  --neutral-98: #fff8f6;
  --neutral-99: #fffbff;
  --neutral-100: #ffffff;
  --neutral-variant-0: #000000;
  --neutral-variant-5: #190e0c;
  --neutral-variant-10: #251917;
  --neutral-variant-15: #302321;
  --neutral-variant-20: #3b2d2b;
  --neutral-variant-25: #473836;
  --neutral-variant-30: #534341;
  --neutral-variant-35: #5f4f4c;
  --neutral-variant-40: #6c5a58;
  --neutral-variant-45: #786764;
  --neutral-variant-50: #857370;
  --neutral-variant-55: #937f7c;
  --neutral-variant-60: #a08c89;
  --neutral-variant-65: #ae9996;
  --neutral-variant-70: #bca7a3;
  --neutral-variant-75: #cab4b0;
  --neutral-variant-80: #d8c2be;
  --neutral-variant-85: #e6cfcc;
  --neutral-variant-90: #f5ddda;
  --neutral-variant-95: #ffedea;
  --neutral-variant-98: #fff8f6;
  --neutral-variant-99: #fffbff;
  --neutral-variant-100: #ffffff;
  --error-0: #000000;
  --error-5: #2d0001;
  --error-10: #410002;
  --error-15: #540003;
  --error-20: #690005;
  --error-25: #7e0007;
  --error-30: #93000a;
  --error-35: #a80710;
  --error-40: #ba1a1a;
  --error-45: #cc2925;
  --error-50: #de3730;
  --error-55: #f0443b;
  --error-60: #ff5449;
  --error-65: #ff7164;
  --error-70: #ff897d;
  --error-75: #ff9f94;
  --error-80: #ffb4ab;
  --error-85: #ffc7c0;
  --error-90: #ffdad6;
  --error-95: #ffedea;
  --error-98: #fff8f7;
  --error-99: #fffbff;
  --error-100: #ffffff;
  --surface-1-light: #fceff2;
  --surface-2-light: #fae7eb;
  --surface-3-light: #f8e0e3;
  --surface-4-light: #f7dde0;
  --surface-5-light: #f6d8db;
  --surface-1-dark: #2b2220;
  --surface-2-dark: #322624;
  --surface-3-dark: #392b29;
  --surface-4-dark: #3b2c2a;
  --surface-5-dark: #3f302d;
  --disabled-light: #989495;
  --disabled-dark: #7e7573;
  --primary-light: var(--primary-40);
  --on-primary-light: var(--primary-100);
  --primary-container-light: var(--primary-90);
  --on-primary-container-light: var(--primary-10);
  --secondary-light: var(--secondary-40);
  --on-secondary-light: var(--secondary-100);
  --secondary-container-light: var(--secondary-90);
  --on-secondary-container-light: var(--secondary-10);
  --tertiary-light: var(--tertiary-40);
  --on-tertiary-light: var(--tertiary-100);
  --tertiary-container-light: var(--tertiary-90);
  --on-tertiary-container-light: var(--tertiary-10);
  --error-light: var(--error-40);
  --on-error-light: var(--error-100);
  --error-container-light: var(--error-90);
  --on-error-container-light: var(--error-10);
  --background-light: var(--neutral-99);
  --on-background-light: var(--neutral-10);
  --surface-light: var(--neutral-99);
  --on-surface-light: var(--neutral-10);
  --surface-variant-light: var(--neutral-variant-90);
  --on-surface-variant-light: var(--neutral-variant-30);
  --outline-light: var(--neutral-variant-50);
  --outline-variant-light: var(--neutral-variant-80);
  --shadow-light: var(--neutral-variant-0);
  --scrim-light: var(--neutral-variant-0);
  --inverse-surface-light: var(--neutral-20);
  --inverse-on-surface-light: var(--neutral-95);
  --inverse-primary-light: var(--primary-80);
  --primary-dark: var(--primary-80);
  --on-primary-dark: var(--primary-20);
  --primary-container-dark: var(--primary-30);
  --on-primary-container-dark: var(--primary-90);
  --secondary-dark: var(--secondary-80);
  --on-secondary-dark: var(--secondary-20);
  --secondary-container-dark: var(--secondary-30);
  --on-secondary-container-dark: var(--secondary-90);
  --tertiary-dark: var(--tertiary-80);
  --on-tertiary-dark: var(--tertiary-20);
  --tertiary-container-dark: var(--tertiary-30);
  --on-tertiary-container-dark: var(--tertiary-90);
  --error-dark: var(--error-80);
  --on-error-dark: var(--error-20);
  --error-container-dark: var(--error-30);
  --on-error-container-dark: var(--error-80);
  --accent-dark: var(--accent-80);
  --on-accent-dark: var(--accent-20);
  --accent-container-dark: var(--accent-30);
  --on-accent-container-dark: var(--accent-90);
  --background-dark: var(--neutral-10);
  --on-background-dark: var(--neutral-90);
  --surface-dark: var(--neutral-10);
  --on-surface-dark: var(--neutral-90);
  --surface-variant-dark: var(--neutral-variant-30);
  --on-surface-variant-dark: var(--neutral-variant-80);
  --outline-dark: var(--neutral-variant-60);
  --outline-variant-dark: var(--neutral-variant-30);
  --shadow-dark: var(--neutral-variant-0);
  --scrim-dark: var(--neutral-variant-0);
  --inverse-surface-dark: var(--neutral-90);
  --inverse-on-surface-dark: var(--neutral-20);
  --inverse-primary-dark: var(--primary-40);
  --scrollbar-thumb-light: var(--neutral-variant-70);
  --scrollbar-thumb-hover-light: var(--neutral-variant-60);
  --scrollbar-thumb-dark: var(--neutral-variant-30);
  --scrollbar-thumb-hover-dark: var(--neutral-variant-40);
}

.light {
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);
  --surface-5: var(--surface-5-light);
  --disabled: var(--disabled-light);
  --primary: var(--primary-light);
  --on-primary: var(--on-primary-light);
  --primary-container: var(--primary-container-light);
  --on-primary-container: var(--on-primary-container-light);
  --secondary: var(--secondary-light);
  --on-secondary: var(--on-secondary-light);
  --secondary-container: var(--secondary-container-light);
  --on-secondary-container: var(--on-secondary-container-light);
  --tertiary: var(--tertiary-light);
  --on-tertiary: var(--on-tertiary-light);
  --tertiary-container: var(--tertiary-container-light);
  --on-tertiary-container: var(--on-tertiary-container-light);
  --error: var(--error-light);
  --on-error: var(--on-error-light);
  --error-container: var(--error-container-light);
  --on-error-container: var(--on-error-container-light);
  --background: var(--background-light);
  --on-background: var(--on-background-light);
  --surface: var(--surface-light);
  --on-surface: var(--on-surface-light);
  --surface-variant: var(--surface-variant-light);
  --on-surface-variant: var(--on-surface-variant-light);
  --outline: var(--outline-light);
  --outline-variant: var(--outline-variant-light);
  --shadow: var(--shadow-light);
  --scrim: var(--scrim-light);
  --inverse-surface: var(--inverse-surface-light);
  --inverse-on-surface: var(--inverse-on-surface-light);
  --inverse-primary: var(--inverse-primary-light);
  --primary-text: var(--on-surface);
  --secondary-text: var(--on-surface-variant);
  --disabled-text: var(--disabled);
  --scrollbar-thumb: var(--scrollbar-thumb-light);
  --scrollbar-thumb-hover: var(--scrollbar-thumb-hover-light);
}

.dark {
  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);
  --surface-5: var(--surface-5-dark);
  --disabled: var(--disabled-dark);
  --primary: var(--primary-dark);
  --on-primary: var(--on-primary-dark);
  --primary-container: var(--primary-container-dark);
  --on-primary-container: var(--on-primary-container-dark);
  --secondary: var(--secondary-dark);
  --on-secondary: var(--on-secondary-dark);
  --secondary-container: var(--secondary-container-dark);
  --on-secondary-container: var(--on-secondary-container-dark);
  --tertiary: var(--tertiary-dark);
  --on-tertiary: var(--on-tertiary-dark);
  --tertiary-container: var(--tertiary-container-dark);
  --on-tertiary-container: var(--on-tertiary-container-dark);
  --error: var(--error-dark);
  --on-error: var(--on-error-dark);
  --error-container: var(--error-container-dark);
  --on-error-container: var(--on-error-container-dark);
  --background: var(--background-dark);
  --on-background: var(--on-background-dark);
  --surface: var(--surface-dark);
  --on-surface: var(--on-surface-dark);
  --surface-variant: var(--surface-variant-dark);
  --on-surface-variant: var(--on-surface-variant-dark);
  --outline: var(--outline-dark);
  --outline-variant: var(--outline-variant-dark);
  --shadow: var(--shadow-dark);
  --scrim: var(--scrim-dark);
  --inverse-surface: var(--inverse-surface-dark);
  --inverse-on-surface: var(--inverse-on-surface-dark);
  --inverse-primary: var(--inverse-primary-dark);
  --primary-text: var(--on-surface);
  --secondary-text: var(--on-surface-variant);
  --disabled-text: var(--disabled);
  --scrollbar-thumb: var(--scrollbar-thumb-dark);
  --scrollbar-thumb-hover: var(--scrollbar-thumb-hover-dark);
}
